extends ../layout

block content
    h1=title 
    
    form(action="/customer/create", method="post", enctype="multipart/form-data")
        div
            lable(for="fullname") Fullname 
            input(type="text", name="fullname", id="fullname")
            if errors
                each e in errors 
                    if e.path === 'fullname'
                        span=e.msg
        div
            lable(for="email") Email 
            input(type="text", name="email", id="email")
            if errors
                each e in errors 
                    if e.path === 'email'
                        span=e.msg
        div
            lable(for="password") Password 
            input(type="password", name="password", id="password")
            if errors
                each e in errors 
                    if e.path === 'password'
                        span=e.msg
        div
            lable(for="image") Image 
            input(type="file", name="image", id="image")
        div
            input(type="submit", value="Create")
    
        